# Hugging Face
HF_TOKEN = ""
HF_BASE_URL = "https://router.huggingface.co/v1"

HF_MODEL = "meta-llama/Llama-3.1-8B-Instruct"
HF_ROUTER_HOST = "https://router.huggingface.co"

# OneNote Exporter
TENANT_ID=
CLIENT_ID=
ADDITIONAL_SCOPES=Notes.ReadWrite.All
GRAPH_MIN_DELAY=0.3